<h1> PRODUCTOS</h1>

<h2>Bienvenido, <strong style="font-size: 30px; font-style:italic; color:chocolate">{{email}}</strong></h2>

<button onclick="location.href='/users/logout'">Logout</button>

  {{#each products}}
    <h3>{{products.title}}</h3>
    <input type="submit" value="Agregar al carrito" />
  {{/each}}

    